html {
	font-family: Ubuntu, Roboto, Arial, sans-serif;
	background-color: black;
	height: 100%;
}

body {
	background-color: silver;
	margin: 5px;
	padding: 10px;
	min-height: calc(100% - 30px);
}

h1 {
	text-align: center;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.linkbutton {
	display: inline-block;
	color: white;
	background-color: #555;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

a.linkbutton:hover {
	text-decoration: none;
	background-color: #777;
}

a.javabutton {
	background-color: #09a;
}

a.javabutton:hover {
	background-color: #0bc;
}

a.pythonbutton {
	background-color: #a90;
}

a.pythonbutton:hover {
	background-color: #cb0;
}

.siteicon {
	width: 100px;
	aspect-ratio: 1;
	float: left;
	margin: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
}
